*{
   margin: 0;
   padding: 0;
}

ul{
  list-style-type:none;
  text-align:center;
}

/* ----------------- recommend -----------------*/

#recommend ul{
  list-style-type:none;
  text-align:center;
}

#recommend li{
   text-align:center;
   width:196px;
   float:left;/*改动的地方*/
}

#recommend li div{
    clear:both;
    width: 120px;
    font-size: 30px;
    color:#333333;
    margin: 20px auto;
}

#recommend img{
    width: 120px;
}

/* ----------------- slider -----------------*/
#slider{
    overflow:hidden;
    clear:both;
    margin:40px 0px 60px 0px;
    width:980px;
    height:268px;
}

#slider_imgs{
    float:left;
    margin:0 0 0 -980px;
    width:5880px;
    height:268px;
}

#slider_imgs li{
    width:980px;
    height:268px;
    float:left;
}

#slider_imgs img{
    margin:0px 20px 0px 20px;
    width:940px;
    height:268px;
}

#slider_index{
    clear:both;
    position:absolute;
    text-align:center;
    margin: 230px 0 0 400px;
}

#slider_index li{
    width: 20px;
    height: 20px;
    border-radius:20px;
    background-color:white;
    margin-right: 20px;
}

#slider_index #on{
    background-color: #E94653;
}