*{
  margin:0;
  padding:0;
}
/* ----------------- header_search -----------------*/

#header{
    top:0;
    position:fixed;
}

#sao{
    float:left;
    width:60px;
    padding:25px 30px;
}

#homeSearch{
    margin:20px 0px 20px 0px;
    width:740px;
    float:left;
}

#notice{
    width:54px;
    padding:25px 33px;
    float:left;
}

/* ----------------- header_tabs -----------------*/

#header_tabs{
    clear:both;
    margin: 120px auto 0 auto ;
}

#header_tabs div{
    display:block;
    float:left;
    text-align:center;
    width:326px;
}

#header_tabs span{
    margin: 0px auto;
    font-size: 42px;
    text-align:center;
    color:#333333;
}

#recommendTab span{
    color:#E94653;
}

#header_tabs hr{
    display:none;
    border:0px;
    height: 5px;
    width: 136px;
    margin: 20px auto 0 auto;
    background-color:#E94653;
}

#recommendTab hr{
    display:block;
}

#tabDivider{
    clear:both;
    border:0px;
    width:100%;
    height:1px;
    background-color:#dcdcdc;
}

/* ----------------- footer -----------------*/
#home_continer{
    width:100%;
    height:auto;

}

/* ----------------- footer background-color:#ffffff; -----------------*/
#footer{

  clear:both;
  bottom: 0;
  position:fixed;
}

#footer ul{
  list-style-type:none;
  text-align:center;
}
li{
   text-align:center;
   width:196px;
   float:left;/*改动的地方*/
}

img{
   margin:10px auto 10px auto;
   width: 110px;
}