.circle-load-svg { stroke-dasharray: 0 360; animation:rot 5s linear forwards; }
@keyframes rot{ 100%{ stroke-dasharray: 360 360; } }
@-webkit-keyframes rot{ 100%{ stroke-dasharray: 360 360; } }
@-o-keyframes rot{ 100%{ stroke-dasharray: 360 360; } }
@-moz-keyframes rot{ 100%{ stroke-dasharray: 360 360; } }